# Ignore all log files
*.log   
# Ignore all temporary files    
*.tmp
# Ignore all compiled Python files
__pycache__/
*.pyc
# Ignore .venv directory
.venv/
# ignore environment variables file
.env
# ignore comandos de terminal
comandos.txt